.bash_history
.cache
.repo
.software
backup
build-*
tmp
x86_64-win64
*.orig
*.a
*.dll
*.exe
*.exp
*.ilk
*.iobj
*.ipdb
*.lib
*.pdb
*.tmp
*.torrent
*.user
!/*-x86_64-static.exe
!/*-x86_64-static.dll
release
debug
.qmake.stash
Makefile
Makefile.Debug
Makefile.Release
*.Debug
*.Release
